<ion-content class="backgr" no-padding [fullscreen]="true">
  <ion-grid>
    <ion-row class="dgset">
      <ion-col>
        <img src="../../assets/imgs/DG.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="welHead ion-text-center">
      <ion-col>
         <h1>You have been successfully signedout...</h1>
      </ion-col>
    </ion-row>
    <ion-row class=" ion-text-center">
      <ion-col>
        <button class="button" ion-button [routerLink]="['/signin']">Sign In</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>