.backgr{
    --background: #fff url("../../assets/imgs/BG.png") no-repeat center center ;
  }

  .dgset{
    padding:10% 30% 0 30%;
    margin-bottom: 2rem;
  }
  .welHead{
    margin-bottom: 30%;
  }
  h1{
    color: #fff;
    font-size: medium;
  }
  .button{
    margin-top: 10rem;
    padding: 0.8rem 1rem;
    background-color: #a8abe0;
    border-radius: 5px;
    font-size:small;
    color: white;
  }