<ion-content>
  <ion-content class="backgr" no-padding [fullscreen]="true">
    <ion-grid>
      <ion-row class="dgset">
        <ion-col>
          <img src="../../assets/imgs/DG_1.png" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='1'></ion-col>
        <ion-col class="details_content" size='10'>
          <h2>Connect to Justin</h2>
          <h6>Justin's Profile</h6>
          <p>Name  : Justin.M</p>
          <p>Zodiac/Astrological Sign  : Aquarius</p>
          <p>Personality Type  : IST-P</p>
          <p>Interests  : Dogs,Basketball,Italian food</p>
        </ion-col>
        <ion-col size='1'></ion-col>
      </ion-row>
      <ion-row class=" ion-text-center">
        <ion-col size='1'></ion-col>
        <ion-col size='10'>
          <button class="button" ion-button [routerLink]="['/']">Connect</button>
        </ion-col>
        <ion-col size='1'></ion-col>
      </ion-row>
      <ion-row class=" ion-text-center">
        <ion-col size='1'></ion-col>
        <ion-col size='10'>
          <button class="button_back" ion-button [routerLink]="['/recommendations']">Back</button>
        </ion-col>
        <ion-col size='1'></ion-col>
      </ion-row>
     </ion-grid> 
</ion-content>
