.backgr{
    --background: #fff url("../../assets/imgs/BG.png") no-repeat center center ;
  }

  .dgset{
    padding:10% 30% 0 30%;
  }
  .inset{
      margin-top: 2rem;;
    color: #FFFFFF;
  }
  .inset img{
    color: #FFFFFF;
    margin-top: 1rem;
  }
  .button{
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    background-color: #a8abe0;
    border-radius: 5px;
    font-size:small;
    color: white;
  }
 .button_back{
     margin: 2rem 0rem;
    padding: 0.8rem 1.8rem;
    background-color: #a8abe0;
    border-radius: 5px;
    font-size:small;
    color: white;
  }