.backgr{
    --background: #fff url("../../assets/imgs/BG.png") no-repeat center center ;
  }

  .dgset{
    padding:10% 30% 0 30%;
    margin-bottom: 2rem;
  }
  .welHead{
    margin-bottom: 30%;
  }
  h1{
    color: #fff;
    font-size: 1.4rem;
  }