<ion-content class="backgr" no-padding [fullscreen]="true">
  <ion-grid>
    <ion-row class="dgset">
      <ion-col>
        <img src="../../assets/imgs/DG_1.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row  class="inset">
      <ion-col size='1'></ion-col>
      <ion-col size='10'>
        <ion-label class="ion-text-center"><h6>How are you feeling today?</h6></ion-label>
        <ion-item class="iputBox">
          <ion-label position="floating">Please respond here</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size='1'></ion-col>
    </ion-row>
    <ion-row *ngIf="recom" class="result_img">
      <ion-col size='5'></ion-col>
      <ion-col size='2' class="ion-text-center">
        <img src="../../assets/imgs/Vector.png" alt="">
      </ion-col>
      <ion-col size='5'></ion-col>
    </ion-row>
    <ion-row *ngIf="recom" class="ion-text-center"> 
      <ion-col size='2'></ion-col>
      <ion-col size='8'>
         <p>
           I'm sorry you feel that way.Here are some suggestions on how I can help !
         </p>
      </ion-col>
      <ion-col size='2'></ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col *ngIf="!recom">
        <button class="button" ion-button (click)="viewRecom()" >Continue</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="recom" class="ion-text-center">
      <ion-col>
        <button class="button_recom" ion-button [routerLink]="['/recommendations']">View Recommendations</button>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
