.backgr{
    --background: #fff url("../../assets/imgs/BG.png") no-repeat center ;
  }

  .dgset{
    padding:10% 30% 0 30%;
    margin-bottom: 2rem;
  }

  .inset{
    margin-top: 2rem;;
  color: #FFFFFF;
  h6{
      font-size: small;
  }
}
.button{
    margin-top: 15rem;
    padding: 0.8rem 1rem;
    background-color: #8C92F5;
    border-radius: 5px;
    font-size:small;
    color: white;
  }
  .button_recom{
    margin-top: 1orem;
    padding: 0.8rem 1rem;
    background-color: #8C92F5;
    border-radius: 5px;
    font-size:small;
    color: white;
  }
  .result_img{
    img{
        margin-top: 5rem;
    }
  }
  p{
      font-size: 15px;
      color: #fff;
  }