<ion-content>
  <ion-content class="backgr" no-padding [fullscreen]="true">
    <ion-grid>
      <ion-row class="dgset">
        <ion-col>
          <img src="../../assets/imgs/DG_1.png" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='1'></ion-col>
        <ion-col class="details_content" size='10'>
          <h2>Get advice from Dr.Wolfgang Seid!</h2>
          <p>
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          </p>
        </ion-col>
        <ion-col size='1'></ion-col>
      </ion-row>
      <ion-row class=" ion-text-center">
        <ion-col size='1'></ion-col>
        <ion-col size='10'>
          <button class="button" ion-button [routerLink]="['/landing-page']">Join Session</button>
        </ion-col>
        <ion-col size='1'></ion-col>
      </ion-row>
      <ion-row class="ion-text-start">
        <ion-col size='1'></ion-col>
        <ion-col size='10'>
          <p>For any 1:1 appointment request,you may directly email Dr.Seid!</p>
        </ion-col>
        <ion-col size='1'></ion-col>
      </ion-row>
      <ion-row class=" ion-text-center">
        <ion-col>
          <button class="button" ion-button [routerLink]="['/recommendations']">Back</button>
        </ion-col>
      </ion-row>
    </ion-grid>  
</ion-content>
