.backgr{
    --background: #fff url("../../assets/imgs/BG.png") no-repeat center ;
  }

.dgset{
    padding:10% 30% 0 30%;
    margin-bottom: 2rem;
  }
  .button{
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    background-color: #8C92F5;
    border-radius: 5px;
    font-size:small;
    color: white;
  }