<ion-content class="backgr" no-padding  [fullscreen]="true">
  <div id="container">
    <ion-grid>
       <ion-row class="dgset">
         <ion-col>
           <img src="../../assets/imgs/DG.png" alt="">
         </ion-col>
       </ion-row>
       <ion-row class="welHead">
         <ion-col>
            <h1>Welcome !</h1>
         </ion-col>
       </ion-row>
       <ion-row class="welbtn">
         <ion-col>
          <button class="button" ion-button >SignIn</button>
         </ion-col>
       </ion-row>
       <ion-row class="ion-text-right">
         <ion-col size="7" class="ion-text-end qus_head">
           <h6>Don't have an account?</h6>
         </ion-col>
         <ion-col size="5" class="ion-text-start signup_link">
           <h6><a   [routerLink]="['/signup-one']" >Sign Up</a></h6>
         </ion-col>
       </ion-row>
    </ion-grid>
  </div>
</ion-content>
