#container {
  text-align: center;
  margin-top: 30%;

  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 40%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.backgr{
  --background: #fff url("../../assets/imgs/BG.png") no-repeat center center ;
}

.dgset{
  padding:0 20%;
}
h1{
  color: #fff;
  font-size: 1.4rem;
}
.button{
  padding: 0.8rem 8rem;
  background-color: #8C92F5;
  border-radius: 5px;
  font-size:small;
  color: white;
}
.welHead{
  margin-bottom: 30%;
}
.left_head{
  text-align: right;
}
.qus_head h6{
 color: #FFF;
 font-size: small;
}
.signup_link a{
  color: #fff;
  font-size: small;
}
